   
  <div class="row">
    <div class="col-md-3">
      <div class="block bx-shadow skin-light  stats-card">
          <div class="img-wrap">
            <div class="bg-img" style="height: 200px; width: 100%; background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Green-nature-hd-wallpaper-1080p.jpg">
            </div>
            <div class="hoverable">
              <div class="hoverable-content text-center">
                <a href="#" class="icon icon-md del-stats-card"><i class="fa fa-times"></i></a>
                <a href="#" class="v-btn v-btn-primary btn-sm">View Image</a>
              </div>
            </div>
          </div>
          <div class="content">
            <h4 class="title ft-md">Training / Webinar Order Form</h4>
            <p class="ft-xs">Facebook Image - 1000 x 800</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="block bx-shadow skin-light  stats-card">
          <div class="img-wrap">
            <div class="bg-img" style="height: 200px; width: 100%; background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Green-nature-hd-wallpaper-1080p.jpg">
            </div>
            <div class="hoverable">
              <div class="hoverable-content text-center">
                <a href="#" class="icon icon-md del-stats-card"><i class="fa fa-times"></i></a>
                <a href="#" class="v-btn v-btn-primary btn-sm">View Image</a>
              </div>
            </div>
          </div>
          <div class="content">
            <h4 class="title ft-md">Training / Webinar Order Form</h4>
            <p class="ft-xs">Facebook Image - 1000 x 800</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="block bx-shadow skin-light  stats-card">
          <div class="img-wrap">
            <div class="bg-img" style="height: 200px; width: 100%; background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Green-nature-hd-wallpaper-1080p.jpg">
            </div>
            <div class="hoverable">
              <div class="hoverable-content text-center">
                <a href="#" class="icon icon-md del-stats-card"><i class="fa fa-times"></i></a>
                <a href="#" class="v-btn v-btn-primary btn-sm">View Image</a>
              </div>
            </div>
          </div>
          <div class="content">
            <h4 class="title ft-md">Training / Webinar Order Form</h4>
            <p class="ft-xs">Facebook Image - 1000 x 800</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="block bx-shadow skin-light  stats-card">
          <div class="img-wrap">
            <div class="bg-img" style="height: 200px; width: 100%; background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Green-nature-hd-wallpaper-1080p.jpg">
            </div>
            <div class="hoverable">
              <div class="hoverable-content text-center">
                <a href="#" class="icon icon-md del-stats-card"><i class="fa fa-times"></i></a>
                <a href="#" class="v-btn v-btn-primary btn-sm">View Image</a>
              </div>
            </div>
          </div>
          <div class="content">
            <h4 class="title ft-md">Training / Webinar Order Form</h4>
            <p class="ft-xs">Facebook Image - 1000 x 800</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="block bx-shadow skin-light  stats-card">
          <div class="img-wrap">
            <div class="bg-img" style="height: 200px; width: 100%; background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Green-nature-hd-wallpaper-1080p.jpg">
            </div>
            <div class="hoverable">
              <div class="hoverable-content text-center">
                <a href="#" class="icon icon-md del-stats-card"><i class="fa fa-times"></i></a>
                <a href="#" class="v-btn v-btn-primary btn-sm">View Image</a>
              </div>
            </div>
          </div>
          <div class="content">
            <h4 class="title ft-md">Training / Webinar Order Form</h4>
            <p class="ft-xs">Facebook Image - 1000 x 800</p>
          </div>
        </div>
    </div>
  </div>